<form ng-submit="addTodo()">
    <div class="row">
        <div class="col-md-4">
            <input class="form-control input" type="text" required ng-model="todoText" size="30"
                   placeholder="add new todo here"/>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input required uib-datepicker-popup="MM-dd-yyyy" ng-focus="datepicker.opened = true"
                       is-open="datepicker.opened" type="text" class="form-control" ng-model="todoDate"
                       placeholder="Todo date">
                <span style="cursor: pointer" type="button" class="input-group-addon" ng-click="datepicker.opened=!datepicker.opened"><i
                        class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-md-5">
            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
            <button type="button" class="btn btn-default" ng-click="toggleSelectAll()"><i
                    ng-class="{false: 'fa fa-check-square', true: 'fa fa-square'}[isAllSelected]"></i> Select
                {{isAllSelected?'None':'All'}}
            </button>
            <button type="button" class="btn btn-danger" ng-click="delete()"><i class="fa fa-trash"></i> Delete Selected
            </button>
        </div>
    </div>
</form>
<br />
<table class="table table-striped table-hover">
    <tbody>
    <tr ng-repeat="todo in todos | orderBy: '-date'" ng-click="todo.selected = !todo.selected">
        <th scope="row"><input ng-model="todo.selected" type="checkbox"/></th>
        <td>
            <h4>{{todo.text}}</h4>
            <i class="fa fa-calendar"></i>&nbsp;<span class="task-date">{{todo.date | date:'mediumDate'}}</span>
        </td>
    </tr>
    </tbody>
</table>

<script type="text/ng-template" id="todoItem.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Create Todo item</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <input type="text" placeholder="Todo Item"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button">OK</button>
        <button class="btn btn-warning" type="button">Cancel</button>
    </div>
</script>